{% load staticfiles %}
<html>
        <head>
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
		<div class="page-header">
   	            <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	            <h1><a href="/">Django Girls Blog</a></h1>
       		</div>
	        <div class="content container">
        	    <div class="row">
                	<div class="col-md-8">
	                {% block content %}
	                {% endblock %}
	                </div>
	            </div>
        	</div>
 	</body>
</html>
